/* stocks */

body {
	background-color: #228B22;
}

table {
		
		border-collapse: collapse;
		border-right: 50px;
}

h1 {
	width: 100%;
}

tr {
	/*order: 1px dashed #90EE90;*/
}

td {
		
	}

	td:nth-child(odd) {
		text-align: right
	}

#ghlink {
	color: #90EE90;
}

#ghlink:hover {
	color: yellow;
}

form {
	text-align: center;
}